.process-area .section-header {
  display: grid;
  gap: 20px 60px;
  margin-top: 50px;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 1199px) {
  .process-area .section-header {
    grid-template-columns: auto;
  }
}
.process-area .section-header .text {
  max-width: 420px;
}
.process-area .section-title {
  max-width: 630px;
}
.process-area .process-wrapper-box {
  margin-top: 87px;
}
@media only screen and (max-width: 1399px) {
  .process-area .process-wrapper-box {
    margin-top: 67px;
  }
}
@media only screen and (max-width: 1199px) {
  .process-area .process-wrapper-box {
    margin-top: 57px;
  }
}
.process-area .process-wrapper {
  display: grid;
  gap: 100px 95px;
  grid-template-columns: repeat(3, 1fr);
}

/* @media only screen and (max-width: 1999px) {
    .process-area .process-wrapper {
      gap: 100px 95px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  } */

@media only screen and (max-width: 1399px) {
  .process-area .process-wrapper {
    gap: 100px 95px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1199px) {
  .process-area .process-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 991px) {
  .process-area .process-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 575px) {
  .process-area .process-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
.process-box .thumb img {
  height: 90px;
}
@media only screen and (max-width: 1199px) {
  .process-box .thumb img {
    height: 70px;
  }
}
.process-box .content {
  margin-top: 44px;
}
@media only screen and (max-width: 1199px) {
  .process-box .content {
    margin-top: 34px;
  }
}
.process-box .title {
  font-size: 26px;
  line-height: 1.28;
}
.process-box .text {
  margin-top: 19px;
}
